<%include partials/header%>
<link rel="stylesheet" href = "app.css">

<h1>Welcome to the home page!</h1>

<h2>We are using advanced express commands here</h2>

<img src="https://goo.gl/images/rg5Ahj">
<%include partials/footer%> 